.btn {
    border: 2px solid rgb(232, 135, 235);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: bisque;
}

.active {
    background-color: blueviolet;
    color: antiquewhite;
}