.btn {
    border: 1px solid rgb(232, 97, 82);
    border-radius: 15px;
    padding: 0px 20px;
    background-color: rgb(245, 231, 216);
}

.active {
    background-color: rgb(103, 103, 248);
    color: whitesmoke;
}